{% extends 'base.html' %}

{% block title %}Schimbă parola {% endblock %}

{% block content %}

<section class="auth-wrapper">
    <div class="form-card auth-card">
        <div class="page-title">
            <h1>Schimbă parola</h1>
            <span>Introdu parola actuală și apoi setează o parolă nouă pentru contul tău.</span>
        </div>

        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div style="margin-bottom: 16px;">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.help_text %}
                        <p class="book-meta" style="margin-top: 6px;">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="error-box">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="error-box">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    Salvează noua parolă
                </button>

                <a href="{% url 'profile' %}" class="btn btn-secondary">
                    Anulează
                </a>
            </div>
        </form>
    </div>
</section>

{% endblock %}